<section class="section" id="contato">
    <h2>Contato</h2>
    <div class="icones-contato">
      <a href="mailto:otavioviannalima@gmail.com" target="_blank" title="Email">
        <i class="fas fa-envelope fa-10x"></i>
      </a>
      <a href="www.linkedin.com/in/otávio-vianna-lima-1b26a932a" target="_blank" title="LinkedIn">
        <i class="fab fa-linkedin fa-10x"></i>
      </a>
      <a href="https://github.com/tuzzooz" target="_blank" title="GitHub">
        <i class="fab fa-github fa-10x"></i>
      </a>
    </div>
  </section>
 
</main>
 
 
<script src="/js/scripts.js"></script>
</body>
</html>