<%- include('partials/header') %>
  <br>

  <main>

    <section class="section" id="introducao">
        <div class="card">
            <img src="/images/selfie.jpg" alt="Minha Foto de Perfil" />
            <h3>Boas Vindas ao meu Portfólio!</h3>
            <p id="introducao">Meu nome é Otávio Vianna Lima e nasci em 2004. <br>
                Atualmente estou cursando Desenvolvimento de Software Multiplataforma na Fatec São José dos Campos. 
                Desde pequeno sempre tive muito interesse por computadores e por isso decidi seguir com essa carreira. 
                Gosto muito de front-end, design e também tenho muito interesse no estudo de segurança digital, 
                porém, estou sempre apto a estudar diversos assuntos afim de cumprir meus objetivos!</p>
          </div>
      </section>
      

      <section class="section" id="curriculo">
        <h2>Currículo</h2>
        <p>Clique no botão abaixo para baixar meu currículo e saber mais sobre minhas habilidades!</p>  
        <div class="mt-6">
            <a href="pdfs\Curriculo Otávio Vianna Lima (1).pdf" download="" class="btn-download">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                    class="icon" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M216 0h80c13.3 0 24 10.7 24 24v168h87.7c17.8 0 26.7 21.5 14.1 34.1L269.7 378.3c-7.5 7.5-19.8 7.5-27.3 0L90.1 226.1c-12.6-12.6-3.7-34.1 14.1-34.1H192V24c0-13.3 10.7-24 24-24zm296 376v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h146.7l49 49c20.1 20.1 52.5 20.1 72.6 0l49-49H488c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z">
                    </path>
                </svg>
                Baixar Currículo.
            </a>
        </div>

      </section>
      
      

    <%- include('projetos.ejs') %>

    <section class="section" id="habilidades">
        <h2>Habilidades</h2>
        <div class="habilidades-container">
          <div class="habilidades-box hard-skills">
            <h3>Hard Skills 💻</h3>
            <ul>
              <li>Desenvolvimento Frontend e Backend</li>
              <li>Desenvolvimento com HTML5, CSS3, Bootstrap e Tailwind CSS</li>
              <li>JavaScript, React e TypeScript</li>
              <li>Desenvolvimento Backend com Node.js e Express</li>
              <li>Modelagem de Dados com MySQL e integração com aplicações web</li>
              <li>Projetos com Python utilizando Flask e Estrutura de Dados</li>
              <li>Criação e Prototipação de Layouts com Figma</li>
              <li>Inglês Fluente pelo Cambridge e TOEIC</li>
            </ul>
          </div>
          <div class="habilidades-box soft-skills">
            <h3>Soft Skills 🗣️</h3>
            <ul>
              <li>Trabalho em equipe</li>
              <li>Comunicação efetiva</li>
              <li>Proatividade na resolução de problemas</li>
              <li>Gestão de tempo e prioridades</li>
              <li>Inteligência Emocional</li>
              <li>Atitude positiva</li>
              <li>Flexibilidade</li>
            </ul>
          </div>
        </div>
      </section>
      

    <section class="section" id="trabalhos">
        <h2>Trabalhos Acadêmicos</h2>
        <div class="card">
            <h3>Trabalho de conclusão de curso (TCC)</h3>
            <p> Título: "A presença do cyberbullying contra as mulheres nos ambientes onlines"</p>
            <p> Resumo: Neste trabalho pesquisamos dados e entrevistas sobre a taxa de cyberbullying contra as mulheres em ambientes onlines.</p>
            <p> Resultados: Conseguimos dados e estátisticas mostrando o quanto as mulheres infelizmente são alvo em ambientes onlines e também pontuamos refêrencias femininas que possuem muito impacto nas redes sociais..</p>
          </div>

        

    </section>

    <section class="section" id="Certificações">
        <h2>Certificações</h2>
        <div class="pdf-grid">
          <div class="pdf-item">
            <iframe src="/pdfs/StatementOfResult.pdf" title="Currículo - Versão 1" width="100%" height="400px"></iframe>
            <p>Statement Of Result - Cambribdge</p>
          </div>
          <div class="pdf-item">
            <iframe src="pdfs\Validação Certificado.pdf" title="Currículo - Versão 2"></iframe>
            <p>Jornada Python</p>
          </div>
          <div class="pdf-item">
            <iframe src="/pdfs/toeic.pdf" title="Currículo - Versão 3"></iframe>
            <p>Certificate of Achievement - TOEIC</p>
          </div>
          <div class="pdf-item">
            <iframe src="pdfs\CERTIFICADO_-_2024-2 (1).pdf" title="Currículo - Versão 4"></iframe>
            <p>Certificado Escola de Inovadores</p>
          </div>
        </div>
        
        <br>
        
<%- include('partials/footer') %>
